.inventory-container{
    display: grid;  
    padding: 20px;
    align-items: center;
    grid-template-columns: [first] 60px repeat(4, 150px) repeat(2, 80px);
}

.inventory-labels {
    display: grid;  
    padding: 20px;
    align-items: center;
    grid-template-columns:  [first] 60px repeat(4, 150px) repeat(2, 100px);
}
.scroll {
    background-color: #c7e4eb;
    width: 900px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
    
}


::-webkit-scrollbar {
    width: 20px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c7d6eb;
    border-radius: 10px;
    border-color: black
  }

.id-column {
    width: 60px;
    text-align: center;
}

.quantity-column {
    width: 100px;
    text-align: center;
}
.other-column {
    width: 150px;
    text-align: center;
    border-bottom: 2px;
}

.update-delete-buttons {
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #c7d6eb;
    border-color: #c7ebe4;
    color: #968b93;
    
    
}

.all-inventory {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}